// For global styling on all about pages
// Our Team Content Styling
.about-team-video-container {
  position: relative;
  margin-top: 64px;
  margin-bottom: 48px;

  &--v2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .about-team-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
  }

  .about-team-video-play-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba($color-white, 0.9);
    width: 80px;
    aspect-ratio: 1 / 1;
    cursor: pointer;

    @include media-breakpoint-down(xs-2) {
      width: 44px;
    }

    &:hover {
      background-color: $color-white;
    }

    .about-team-video-play-player {
      width: 64px;
      aspect-ratio: 1.03 / 1;
      background-image: $gradient-purple;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      mask-image: url("../../media/images/About-V1-Play-Button.svg");

      @include media-breakpoint-down(xs-2) {
        width: 32px;
      }
    }
  }
}
