// Initialize first
@import "../init";

.work {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  @include media-breakpoint-down(lg) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &__img {
    position: absolute;
    left: 0px;

    &--v1 {
      bottom: -32px;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    &--v2 {
      top: 40px;
      display: none;

      @include media-breakpoint-down(lg) {
        display: block;
      }

      @include media-breakpoint-down(sm) {
        top: 0px;
      }
    }
  }

  &__flex {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media-breakpoint-down(sm) {
      gap: 48px;
    }
  }
  &__form {
    position: relative;
    width: 100%;

    @include media-breakpoint-down(sm) {
      padding: 0 20px;
    }
  }
  &__warp {
    position: relative;
    display: flex;
    gap: 20px;

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }

    .items {
      &__inputs {
        &--input::placeholder {
          color: $color-light-grey;
        }
      }
    }
  }

  &__departemen {
    width: 262px;

    @include media-breakpoint-down(xl) {
      width: unset;
      flex: 1;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__type {
    width: 182px;

    @include media-breakpoint-down(xl) {
      width: unset;
      flex: 1;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__location {
    width: 218px;

    @include media-breakpoint-down(xl) {
      width: unset;
      flex: 1;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__times {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;

    @include media-breakpoint-down(sm) {
      padding: 0px 20px;
    }

    &__time {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 129px;
      padding: 32px;
      background: $color-white;
      box-shadow: 8px 16px 52px rgba(126, 138, 253, 0.08);
      border-radius: 10px;

      @include media-breakpoint-down(xl) {
        gap: 70px;
      }
      @include media-breakpoint-down(lg) {
        flex-direction: column;
        gap: 16px;
      }
      @include media-breakpoint-down(sm) {
        padding: 20px 16px;
      }
    }
  }

  &__left {
    position: relative;
    display: flex;
    gap: 129px;

    @include media-breakpoint-down(xl) {
      gap: 70px;
    }
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 6px;
    }
  }
  &__right {
    position: relative;
    display: flex;
    gap: 129px;

    @include media-breakpoint-down(xl) {
      gap: 70px;
    }
    @include media-breakpoint-down(lg) {
      gap: unset;
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 100%;
    }
  }

  &__working {
    position: relative;
    width: 330px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    p {
      color: $color-black;
    }
  }
  &__location-work {
    position: relative;
    display: flex;
    height: 22px;
    width: 119px;
    gap: 4px;

    @include media-breakpoint-down(sm) {
      height: unset;
      width: 100%;
    }

    p {
      color: $color-grey;
    }
  }
  &__time-work {
    position: relative;
    display: flex;
    height: 22px;
    width: 97px;
    gap: 4px;

    @include media-breakpoint-down(sm) {
      height: unset;
    }

    p {
      color: $color-grey;
    }
  }
  &__departemen-work {
    position: relative;
    display: flex;
    width: 110px;
    height: 22px;
    gap: 4px;

    @include media-breakpoint-down(sm) {
      height: unset;
    }

    p {
      color: $color-grey;
    }
  }
}

.jobs {
  @include media-breakpoint-down(lg) {
    margin-bottom: 0px !important;
  }
}

.p-jobs {
  @include media-breakpoint-down(sm) {
    padding: 0px !important;
  }
}

.hero-jobs {
  @include media-breakpoint-down(lg) {
    margin-top: toRem(136) !important;
    margin-bottom: toRem(64) !important;
  }

  @include media-breakpoint-down(sm) {
    padding: 0px !important;

    .hero__left {
      padding: 0px 20px !important;
    }

    .hero-btn-wrap {
      padding: 0px 20px !important;
    }
  }
}

.jobs-img-filter {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
    cursor: pointer;
  }
}

.work-filter {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);

  &__filter {
    position: relative;
    height: 700px;
    width: 100%;
    background: $color-white;
    margin-top: 220px;
    border-radius: 10px 10px 0px 0px;
  }
}
